{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora de punto fijo</title>

    <!--Llamando a las clases de bootstrap-->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    <!--Clase de css propia a emplear-->
    <link rel="stylesheet" href="{% static '/css/bases.css' %}">
    <link rel="stylesheet" href="{% static '/css/Profile.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <!--Barra de navegacion-->
    <nav class="navbar">
        <div class="container-fluid">
            <img class="Logo" src="{% static 'IMG/Logo.jpeg' %}" alt="Logo">

            <!--Opciones-->
            <ul class="Menu">

              <li>
                <button class="inicio">
                    <a href="#"><i class="fa-solid fa-circle-info"></i> Info</a>
                </button>
              </li>
              
              <li>
                <button class="Perfil">
                  <a data-bs-toggle="offcanvas" href="#PerfilUsuario" role="button" aria-controls="offcanvasExample">
                    <i class="fa-solid fa-user"></i> Perfil
                  </a>
                </button>
              </li>

              <li>
                <button class="contacto">
                    <a href="https://github.com/JohnArbaiza1/Metodo_Punto_Fijo"><i class="fa-brands fa-github"></i> Contacto</a>
                </button>
              </li>

              <li>
                <button class="exit">
                    <a href="/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i> Salir</a>
                </button>
              </li>

              <li>
                <button class="Activo">&#128187  {{ perfil.user.username }}</button>
              </li>

            </ul>
        </div>
      </nav>

      <!--Parte donde se trabaja el diseño del perfil de usuario-->
      <div class="container">
        <div class="offcanvas offcanvas-end" tabindex="-1" id="PerfilUsuario" aria-labelledby="PerfilUsuario">

          <!--Titulo y boton de salir-->
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="PerfilUsuario">Perfil</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
        
            <!--Contenido-->
            <div class="offcanvas-body">
        
              <!--Contenedor principal-->
              <div class="container">
        
                <div class="card" style="width: 20.46rem;">
        
                   <!-- Mostrando la imagen de fondo -->
                    {% if perfil.FondoPerfil %}
                    <img class="FonPerfil" src="{{ perfil.FondoPerfil.url }}" alt="Fondo de perfil">
                    {% endif %}
                 
                  <!-- Mostrando la imagen de perfil -->
                   {% if perfil.IMGPerfil %}
                  <img class="IMGPerfil" src="{{ perfil.IMGPerfil.url }}" alt="Imagen de perfil">
                  {% endif %}
                  <div class="card-body">
                    <span class="UserName" id="UserName"><b>Usuario:</b> @{{ perfil.user.username }}</span><br><br>
                    <span class="name" id="name"><b>Nombre:</b> {{ perfil.name }}</span><br><br>
                    <span class="lastName" id="lastName"><b>Apellido:</b> {{ perfil.lastName }}</span><br><br>
                    <span class="email" id="email"><b>Correo electrónico:</b> {{ perfil.email }}</span>
                     <br><br>
                   
                      <div class="text-center">
                          <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                              Editar perfil
                            </button>
                      </div>
        
                      
                   
                  </div>
                </div><br>
        
                <div class="card" style="width: 20.46rem;">
                  <div class="collapse" id="collapseExample">
                      <div class="card-body">
                        <h5 class="card-title mb-2">Editar perfil </h5>
                        <form method="POST" enctype="multipart/form-data">
                          {% csrf_token %}
                          <div class="mx-sm-4 mb-3">
                              <label for="name" class="form-label">Nombre:</label><br>
                              <input  type="text" class="form-control" id="name" autofocus name="name"
                              placeholder="Ingrese su nombre">
                          </div>
        
                          <div class="mx-sm-4 mb-3">
                              <label for="email" class="form-label">Apellido:</label><br>
                              <input  type="text" class="form-control" id="lastName" name="lastName"
                              placeholder="Ingrese su apellido">
                          </div>
        
                          <div class="mx-sm-4 mb-3">
                              <label for="email" class="form-label">Correo:</label><br>
                              <input  type="text" class="form-control" id="email" name="email"
                              placeholder="Ingrese su correo electrónico">
                          </div>
        
                          <div class="img">
                             <p> {{ form.IMGPerfil }}</p>
        
                              <p>{{ form.FondoPerfil }}</p>
                          </div>
        
                         <div class="opciones mb-4">
                            <button class="btn btn-primary " type="submit">Guardar</button>
                            <button class="btn btn-danger" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                              Cancelar
                            </button>
                         </div>
        
                      </form>
                      </div>
                    </div>
                </div>
              </div>
        
              
            </div>
        </div>
      </div>


    {% block content %} 
    
    {% endblock %}
    
</body>
</html>