{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informacion</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora de punto fijo</title>

    <!--Llamando a las clases de bootstrap-->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    <!--Clase de css propia a emplear-->
    <link rel="stylesheet" href="{% static '/css/bases.css' %}">
    <link rel="stylesheet" href="{% static '/css/Profile.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

  <style>
    @media(max-width:769px){


.navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
}

.navbar li{
        margin-top: 6px;
    }
    }
  </style>

    <!--Barra de navegacion-->
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">

          
          <img class="Logo" src="{% static 'IMG/Logo.jpeg' %}" alt="Logo">

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <!--Opciones-->
            <ul class="Menu">

              <li>
                <button class="inicio">
                    <a href="{% url 'Principal' %}"><i class="fa-solid fa-pen-to-square"></i> Resolver</a>
                </button>
              </li>
              
              <li>
                <button class="contacto">
                    <a href="https://github.com/JohnArbaiza1/Metodo_Punto_Fijo"><i class="fa-brands fa-github"></i> Contacto</a>
                </button>
              </li>

              <li>
                <button class="exit">
                    <a href="/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i> Salir</a>
                </button>
              </li>

            </ul>

          </div>
           
        </div>
      </nav>

      {% block content %} 
    
      {% endblock %}
    
</body>
</html>