{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperacion de contraseña</title>

     <!--Llamando a las clases de bootstrap-->
     <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
     <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>

     <!--Para los iconos-->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<!--Dandole estilo a esta pagina-->
<style>
    
    body{
        background-color: #DDE6ED;
    }

    .card{
        width: 26rem;
        box-shadow: -5px 5px 10px rgb(31, 77, 91);
        color: #093777;
    }

    .form-control{
        background:rgba(220,  235, 241, 0.774);
    }

    .circle{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .circle span{
        width: 30px;
        height: auto;
        border-radius: 50%;
        border: 2px solid rgb(51, 152, 219);
        padding:1px;
        padding-left: 4px;
        padding-right: 4px;
    }

    .messages{
        font-size: 0.9rem;
    }

    .messages li{
        list-style-type: none;
    }
    
</style>


<body>

    <!--Contenedor principal-->
    <div class="container mt-5">

        <div class="row">

            <div class="col"></div>
            <div class="col">
                <div class="card">
                    <div class="card-body">

                        <h3 class="card-title">Recuperación de contraseña </h3>
                        <hr>
                        
                        <!--Formulario de recuperacion de contraseña-->
                        <form method="POST">
                            {% csrf_token %}

                                <div class="mb-4">
                                    <label for="username" class="form-label">Nombre de usuario:</label>
                                    <input type="text" class="form-control" id="username" name="username" autofocus
                                    placeholder="Ingrese su nombre de usuario">
                                </div>

                                <div class="mb-4">
                                    <label for="new_password1" class="form-label">Nueva contraseña:</label>
                                    <input type="password" class="form-control" id="password1" name="password1" placeholder="Ingrese su contraseña">
                                </div>

                                <div class="mb-4">
                                    <label for="new_password2" class="form-label">Confirmar contraseña:</label>
                                    <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirme su contraseña">
                                </div>

                                {% if messages %}

                                 <div class="Mensajes">
                                    <ul class="messages">
                                        {% for message in messages %}
    
                                        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                                            <div class="alert {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}alert-danger{% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                                            alert-warning{% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                                            alert-success{% else %} alert-info{% endif %}" role="alert">
                                            {{ message }}
                                            </div>
                                        </li>
                                        {% endfor %}  
                                    </ul>
                                 </div>
                                
                                {% endif %}

                               <div class="update d-grid">
                                <button type="submit" class="btn btn-primary">Actualizar</button>
                            </div>
                        </form><br>

                        <div class="circle">
                            <span><a href="/logout"><i class="fa-solid fa-house"></i></a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col"></div>

        </div>
    </div>
    
</body>
</html>