{% extends 'layouts/base2.html' %}

{% load static %}


{% block content %} 


<!--parte donde estan los estilos de algunos elementos-->
<style>
    body{
        background-color: #DDE6ED;
    }

    h1{
        color: #27374D;
        text-align: center;
    }

    .card{
        width: 26rem;
        box-shadow: -5px 5px 10px rgb(31, 77, 91);
        color: #093777;
    }


</style>
<br>

<h1 class="text-center">Solucionador del método de punto fijo</h1>

<!--Contenedor principal-->
  <div class="container mt-5 mb-4">
    <div class="row">
      <div class="col"></div>

      <div class="col">
        <div class="card">
          <div class="card-body">
          
            <!--Indicaciones de como usar la aplicacion-->
            <h3 class="card-title text-center">  INDICACIONES</h3>
            <hr>
            <span>Para que el método funcione se le debe agregar:</span>
            <br><br>

             <!--Pidiendo los datos requeridos-->
             <form method="POST" action='{% url "procesar_formulario_User" %}' id="formulario" onsubmit="return validarFormulario2()">
              {% csrf_token %}
              <div class="mb-4">
                  <label for="funcion" class="form-label">Función F(X):</label>
                  <input type="text" class="form-control" id="funcion1" autofocus name="funcion" required>
              </div>

              <div class="mb-4">
                <label for="funcion" class="form-label">Función G(X):</label>
                <input type="text" class="form-control" id="funcion2" name="funcion2" required>
            </div>

            <div class="mb-4">
                <label for="funcion" class="form-label">Valor inicial:</label>
                <input type="text" class="form-control" id="Inicial" name="Valor" required>
            </div>

            <div class="mb-4">
              <label for="funcion" class="form-label">Margen de error:</label>
              <input type="text" class="form-control" id="error" name="error" required>
          </div>
          <div class="d-grid mb-2">
              <button type="submit" class="btn btn-primary" id="resolver">
                  Resolver
              </button>
          </div>

          </div>

        </div>
      </div>
  
      <div class="col"></div>
    </div>
  </div>



<!--Parte donde se trabaja el diseño del perfil de usuario-->
<div class="offcanvas offcanvas-end" tabindex="-1" id="PerfilUsuario" aria-labelledby="PerfilUsuario">

    <!--Titulo y boton de salir-->
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="PerfilUsuario">Perfil</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>

      <!--Contenido-->
      <div class="offcanvas-body">

        <!--Contenedor principal-->
        <div class="container">

          <div class="card">

             <!-- Mostrando la imagen de fondo -->
              {% if perfil.FondoPerfil %}
              <img class="FonPerfil" src="{{ perfil.FondoPerfil.url }}" alt="Fondo de perfil">
              {% endif %}
           
            <!-- Mostrando la imagen de perfil -->
             {% if perfil.IMGPerfil %}
            <img class="IMGPerfil" src="{{ perfil.IMGPerfil.url }}" alt="Imagen de perfil">
            {% endif %}
            <div class="card-body">
              <span class="UserName" id="UserName"><b>Usuario:</b> @{{ perfil.user.username }}</span><br><br>
              <span class="name" id="name"><b>Nombre:</b> {{ perfil.name }}</span><br><br>
              <span class="lastName" id="lastName"><b>Apellido:</b> {{ perfil.lastName }}</span><br><br>
              <span class="email" id="email"><b>Correo electrónico:</b> {{ perfil.email }}</span>
               <br><br>
             
                <div class="text-center">
                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        Editar perfil
                      </button>
                </div>

                
             
            </div>
          </div><br>

          <div class="card">
            <div class="collapse" id="collapseExample">
                <div class="card-body">
                  <h5 class="card-title mb-2">Editar perfil </h5>
                  <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mx-sm-4 mb-3">
                        <label for="name" class="form-label">Nombre:</label><br>
                        <input  type="text" class="form-control" id="name" autofocus name="name"
                        placeholder="Ingrese su nombre">
                    </div>

                    <div class="mx-sm-4 mb-3">
                        <label for="email" class="form-label">Apellido:</label><br>
                        <input  type="text" class="form-control" id="lastName" name="lastName"
                        placeholder="Ingrese su apellido">
                    </div>

                    <div class="mx-sm-4 mb-3">
                        <label for="email" class="form-label">Correo:</label><br>
                        <input  type="text" class="form-control" id="email" name="email"
                        placeholder="Ingrese su correo electrónico">
                    </div>

                    <div class="img">
                       <p> {{ form.IMGPerfil }}</p>

                        <p>{{ form.FondoPerfil }}</p>
                    </div>

                   <div class="opciones mb-4">
                      <button class="btn btn-primary " type="submit">Guardar</button>
                      <button class="btn btn-danger" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        Cancelar
                      </button>
                   </div>

                </form>
                </div>
              </div>
          </div>
        </div>

        
      </div>
  </div>
  <script>
    function validarFormulario2() {
        var funcion = document.getElementById("funcion2").value;
        var valor = document.getElementById("Inicial").value;

        fetch('/verificar_datos/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({ funcion: funcion, valor: valor })
        })
        .then(response => response.json())
        .then(data => {
            if (data.valid) {
                // Los datos son válidos, enviar el formulario manualmente
                document.getElementById('formulario').submit();
            } else {
                // Los datos no son válidos, muestra un mensaje de error o realiza alguna acción adicional
                alert('La Funcion G(x) no es buena, intente ingresar otra para reducir las iteraciones.');
            }
        })
        .catch(error => {
            // Manejar el error en caso de fallo en la llamada AJAX
            console.error('Error:', error);
        });

        // Devuelve false para evitar que el formulario se envíe automáticamente
        return false;
    }
</script>
{% endblock %}