{% extends 'layouts/base3.html' %}

{% load static %}

{% block content %}

{% csrf_token %}
<div class="container ">
        <div class="text-center">
            <img src="data:image/png;base64,{{ imagen }}" alt="No corre xd">
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12  justify-content-center">
            <h1 class="text-center" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Resultados</h1>
            <table class="table table-bordered border-primary">
                <thead>
                    <tr>
                        <th scope="col">Funcion F(x)</th>
                        <th scope="col">Funcion G(x)</th>
                        <th scope="col">Valor Inicial</th>
                        <th scope="col">Margen de ERROR</th>
                        <th scope="col">Raiz</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for numero in numeros %}
                            <td>{{ numero }}</td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
           
        </div>
        <br>
        <h1 class="text-center" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Iteraciones</h1>
        <div>
            {{ iteraciones|safe }}
        </div>
        <br>
        <div class="text-center">
            <button id="regresar" class="btn btn-outline-dark">
                <a href="{% url 'Principal' %}" style="text-decoration: none;">Volver al Solucionador</a>
            </button>
        </div>
        <br>
        <hr>
</div>
{% endblock %}